*{
  margin-left: 0;
  margin-right: 0;
}


body {
    background-color: black;
    margin-top: 0;
        
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  border-radius: 0px;
}

.section {
  display: flex;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 0px;
  margin-top: 50px;
  height: 300px;
  width: auto;
}

.endereco {
  display: flex;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0px;
  margin-top: 50px;
}

.habilidade {
  display: flex;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  justify-content: center;
  margin-bottom: 0;
  border-radius: 0px;
}


.c-image {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100px;
  /* margin-left: 600px; */
  border-radius: 40px; 
}

.c:hover {
  width: 180px;
}

.java-image {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100px;
  /* margin-left: 600px; */
  border-radius: 5%;
}

.java:hover {
  width: 120px;
}

.Csharp:hover {
  width: 180px;
}

.animes:hover {
  width: 180px;
}

.habilidades {
  display: flex;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0px;
  margin-top: 0px;
  /* width: 500px; */
  height: auto; 
  padding-top: 0px;
  justify-content: space-evenly;
  width: auto;
}

.hobbies {
  display: flex;
  text-align: center;
  color: black;
  background-color: rgb(200, 200, 200);
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content:flex-start;
  flex-direction: row;
  justify-content:space-evenly;
  height: auto;
  width: auto;
}

.card-hobbies {
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15%;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

.card-habilidades {
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

.desenvolvimento-web {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.web-image {
  width: 100px;
}

.games-img {
  width: 100px;
  border-radius: 20px;
}

.livros-img {
  width: 100px;
  border-radius: 30px;
}

.series-img {
  width: 100px;
  border-radius: 100px;
}

.filmes-img {
  width: 100px;
  border-radius: 100%;
}

.animes-img {
  width: 100px;
  border-radius: 40px;
}

.livros:hover {
  width: 180px;

}

.Csharp-img {
  width: 100px;
  border-radius: 100%;
}

.html:hover {
  width: 210px;
}

.CSS:hover {
  width: 190px;
}

.javaScript:hover {
  width: 200px;
}

.series:hover {
  width: 140px;
}

.filmes:hover {
  width: 180px;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  margin-top: 50px;
}

IMG.zoom:hover {
  width: 200px;
}

.games:hover {
  width: 180px;
}

.footer {
  display: flex;
  justify-content: center;
}

#twitch {
  width: 100px;
  color: white;
  border: 1px solid black;
  padding: 25px 10px;
  text-align: center;
  border-radius: 40%;
  text-decoration:none;
  margin: 0%;
}

#twitch:hover {
    width: 180px;
}

#Linkedin {
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid black;
  padding: 25px 10px;
  width: 100px;
  text-align: center;
  border-radius: 100px;
}

#Linkedin:hover {
  width: 180px;
}

#Facebook{
  width: 100px;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid black;
  padding: 25px 10px;
  text-align: center;
  border-radius: 100px;
}

#Facebook:hover {
 width: 180px;
}

#Github{
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid black;
  padding: 25px 10px;
  width: 100px;
  text-align: center;
  border-radius: 100px;
}

#Github:hover {
    width: 180px;
}

p {
  font-size: 30px;
  border-radius: 1px;
  padding: 25px 25px;
  margin-bottom: 60px;
}

h4 {
  font-size: 30px;
  margin: auto;
}

nav {
  background-color: blue;
}

.sobre-mim {
  align-self: center;
}

.habilidades > .card-habilidades:nth-child(6) {
  order: 1;
}