.table {
  background-color: transparent;
  border-radius: 10px;
  text-align: center;

}

thead {
  background-color: black;
  border-radius: 10px;
}

.tr-thead {
  border-radius: 10px;
  color: white;
}

td {
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  width: auto;
}

th {
  border-radius: 8px;
  margin: 10px;
}
